<div class="container">
    <div class="row">
        <div class="col-4 mt-5 ms-5">
            <div class="border p-4 rounded-3" style="width: 19rem;">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <img src="https://pbs.twimg.com/media/EFIv5HzUcAAdjhl.png" width="120" height="120" alt="">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-flex justify-content-center">
                        <a href="" style="color: black">Update photo</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col mt-5 me-5">
            <div>
                <div class="row">
                    <div class="col">
                        <h2>Hi, I'm Habib</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="color: gray; font-size: 14px;">Joined in 2022</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-danger" (click)="onclick()">Edit profile</button>
                    </div>
                </div>
                <!-- <app-edit-profile [hidden]="editProfile"></app-edit-profile>
                <app-edit-profile-form [hidden]="editProfileForm"></app-edit-profile-form> -->
                <router-outlet></router-outlet>
            </div>
            <hr>

        </div>
    </div>
</div>