<div id="images" [hidden]="images" #img>
    <div class="row">
        <div class="col">
            <div class="progress mt-2">
                <div class="progress-bar" role="progressbar" aria-label="Basic example"
                    style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile03">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile04">
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile05">
            </div>
        </div>
    </div>
</div>