<div class="row mt-5">
    <div class="col">
        <h4>About</h4>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        hey
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <i class="bi bi-house-door-fill"></i>
        Lives in Beirut, Lebanon
    </div>
</div>
<div class="row mt-1">
    <div class="col">
        <i class="bi bi-chat-square-fill"></i>
        Speaks English, Hindi
    </div>
</div>
<div class="row mt-1">
    <div class="col">
        <i class="bi bi-briefcase-fill"></i>
        Work: web developer
    </div>
</div>

