<div id="inputs" #inp>
    <div class="row">
        <div class="col">
            <div class="progress mt-2">
                <div class="progress-bar" role="progressbar" aria-label="Basic example"
                    style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <input type="text" class="form-control" placeholder="Appartment Name" ngModel #AppName>
        </div>
        <div class="col-6">
            <input type="number" class="form-control" placeholder="Price" ngModel #price>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <input type="number" class="form-control" placeholder="Number of Guests" ngModel #guest>
        </div>
        <div class="col-6">
            <input type="number" class="form-control" placeholder="Bedroom" ngModel #bedroom>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <input type="number" class="form-control" placeholder="Bed" ngModel #bed>
        </div>
        <div class="col-6">
            <input type="number" class="form-control" placeholder="Bath" ngModel #bath>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="Address" ngModel #address>
        </div>
    </div>
</div>