<div class="row border">
    <div class="col">
        <h5 class="ps-2 pt-3 pb-2"><strong>Messages</strong></h5>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="list-group w-auto">
            <div class="list-group-item d-flex gap-3 py-3">
              <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                  <h6 class="mb-0">Habibb</h6>
                  <p class="mb-0 opacity-75">hello</p>
                </div>
                <small class="opacity-50 text-nowrap">now</small>
              </div>
            </div>
          </div>
    </div>
</div>
