<div id="offers" [hidden]="offers" #off>
    <div class="row">
        <div class="col">
            <div class="progress mt-2">
                <div class="progress-bar" role="progressbar" aria-label="Basic example"
                    style="width: 33.3%;" aria-valuenow="33.3" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="check"
                    id="defaultCheck1" ngModel #wifi>
                <label class="form-check-label" for="defaultCheck1">
                    Wifi
                </label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="check"
                    id="defaultCheck2" ngModel #parking>
                <label class="form-check-label" for="defaultCheck2">
                    Free parking on permises
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="check"
                    id="defaultCheck3" ngModel #tv>
                <label class="form-check-label" for="defaultCheck3">
                    TV
                </label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="check"
                    id="defaultCheck4" ngModel #ac>
                <label class="form-check-label" for="defaultCheck4">
                    Air conditioning
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="check"
                    id="defaultCheck5" ngModel #smoke>
                <label class="form-check-label" for="defaultCheck5">
                    Smoke alarm
                </label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="check"
                    id="defaultCheck6" ngModel #electricity>
                <label class="form-check-label" for="defaultCheck6">
                    Electricity
                </label>
            </div>
        </div>
    </div>
</div>