<div class="container pt-4">
    <!-- Description -->
    <div class="row">
        <h3>Cozy bungalow with amazing seaview, secret garden</h3>
    </div>
    <div class="row">
        <div class="col" style="text-align: start;">
            <i class="bi bi-star-fill" style="font-size: 13px;"></i>
            <span class="ms-1">4.9</span>
            <span>· 96reviews · Kaş, Antalya, Turkey</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate incidunt tempora quibusdam praesentium
            debitis error, mollitia magnam voluptatibus ex culpa laboriosam dolorem animi quam doloremque nam, autem
            esse provident iusto.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam nisi, distinctio, quis dolorem dolorum
            voluptas laudantium a aliquam veniam explicabo molestias harum reiciendis amet repudiandae error cumque
            pariatur perspiciatis expedita!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eaque voluptate aliquid id, hic praesentium
            totam rem commodi nobis odio tenetur itaque culpa. Dolore itaque voluptatem, labore voluptatum dolor nemo.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit doloremque, perspiciatis neque provident aut
            libero similique ad nisi, obcaecati, eligendi unde qui iste sint. Cupiditate accusantium officia temporibus
            dolore aut.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur consectetur rem cupiditate praesentium
            itaque, laborum debitis, perspiciatis accusamus velit at, eos vero labore enim nam aspernatur quidem?
            Aspernatur, sequi magnam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repellendus corporis minus praesentium
            sequi odio molestias fuga, doloremque vitae inventore voluptates sunt quod voluptatem tempore, expedita
            officia ea est explicabo!

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <h4>Tiny home hosted by Eren</h4>
            <span>4 guests1 · bedroom1 · bed1 · bath</span>
        </div>
        <div class="col-1  d-flex justify-content-center align-items-center">
            <span><img class="rounded-5"
                    src="https://images.pexels.com/photos/14099311/pexels-photo-14099311.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
                    width="60" height="60" alt=""></span> 
        </div>
        <div class="row mt-2">
            <div class="col-7">
                <hr class="text-secondary"/>
            </div>
        </div>
    </div>
</div>