<div class="row border">
    <div class="col">
        <h5 class="ps-2 pt-3 pb-2"><strong>.</strong></h5>
    </div>
</div>

<div class="row overflow-scroll" style="height: 73vh;">
    <div class="col">
        <div class="row">
            <div class="col d-flex justify-content-center pt-2">
                <p>sep 13,2022</p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div id="a" class="d-flex gap-3 ps-4 py-2 rounded-4" aria-current="true" style="width: 670px;">
                    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                        class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">abed</h6>
                            <p class="mb-0 opacity-75">hello</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-center">
                <div id="a" class="d-flex gap-3 ps-4 py-2 rounded-4" aria-current="true" style="width: 670px;">
                    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                        class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">abed</h6>
                            <p class="mb-0 opacity-75">hello</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row border-top p-2">
    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center" style="width: 620px;">
            <input type="text" class="form-control me-2 rounded-5 p-2 px-3 shadow-sm" placeholder="Start your search"
                autocomplete="off" aria-label="Search" size="42" #search>
            <i class="bi bi-arrow-up-circle-fill" style="margin-left: -40px; font-size: 22px;"></i>
        </div>
    </div>
</div>


<!-- <div class="row">
    <div class="col d-flex justify-content-center">
        <div id="a" class="d-flex gap-3 ps-4 py-2 rounded-4" aria-current="true" style="width: 670px;">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">abed</h6>
                    <p class="mb-0 opacity-75">hello</p>
                </div>
            </div>
        </div>
    </div>
</div> -->