<div class="container-fluid">
    <div class="row" style="height: 89.3vh; width: 100vw;">
        <div class="col-lg-5 bg-danger d-flex align-items-center justify-content-center text-white">
            {{question}}
        </div>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="col-lg-7 d-flex flex-column justify-content-between">
            <div>
                <app-form1 [hidden]="inputs"></app-form1>

                <app-form2 [hidden]="offers"></app-form2>

                <app-form3 [hidden]="maps"></app-form3>

                <app-form4 [hidden]="images"></app-form4>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <button class="btn btn-secondary" (click)="onBack()">Back</button>
                </div>
                <div class="col-6 text-end">
                    <button class="btn btn-primary" [hidden]="slide === 3" (click)="onNext()">Next</button>
                    <input type="submit" [hidden]="slide !== 3" class="btn btn-success" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>