<div class="container-fluid">
    <div class="row" style="height: 89.3vh; width: 100vw;">
        <div class="col-lg-5 bg-danger d-flex align-items-center justify-content-center text-white">
            Question?
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-between">
            <div>
                <div class="row">
                    <div class="col">
                        <div class="progress mt-2">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Appartment Name">
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder="Price">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder="Number of Guests">
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder="Bedroom">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder="Bed">
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder="Bath">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <button class="btn btn-secondary">Back</button>
                </div>
                <div class="col-6 text-end">
                    <input type="button" class="btn btn-primary" value="Next">
                </div>
            </div>
        </div>
    </div>
</div>