<div id="maps" [hidden]="maps" #map>
    <div class="row">
        <div class="col">
            <div class="progress mt-2">
                <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 66.7%;"
                    aria-valuenow="66.7" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <google-map
                height="60vh"
                width="100%"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="addMarker($event)">
                <map-marker *ngFor="let markerPosition of markerPositions"
                    [position]="markerPosition"
                    [options]="markerOpitions"
                    (mapClick)="deleteMarker()">
                </map-marker>
            </google-map>
        </div>
    </div>
</div>