<google-map
    height="90vh"
    width="100vw"
    [center]="center"
    [zoom]="zoom">
    <map-marker *ngFor="let markerPosition of markerPositions; let mark in markerPosition"
        [position]="{lat: +mark['lat'], lng: +mark['lng']}"
        [options]="markerOptions"
        [label]="'$'+mark['price']"
        (mapClick)="goTo(+mark['id'])"
        #marker="mapMarker">
    </map-marker>
</google-map>

<div class="fixed-bottom d-flex align-items-center justify-content-center mb-5">
    <button (click)="onClick()" class="btn btn-dark rounded-5" style="padding: 10px 15px 10px;"><span class="me-2">Show
            Lists</span> <i class="bi bi-list-ul"></i></button>
</div>