<google-map
    height="90vh"
    width="100vw"
    [center]="center"
    [zoom]="zoom">
    <map-marker *ngFor="let markerPosition of markerPositions"
        [position]="markerPosition.coordinates"
        [options]="markerOptions"
        [label]="'$'+markerPosition.price"
        (mapClick)="goTo(markerPositions.indexOf(markerPosition))"
        #marker="mapMarker">
    </map-marker>
</google-map>

<div class="fixed-bottom d-flex align-items-center justify-content-center mb-5">
    <button (click)="onClick()" class="btn btn-dark rounded-5" style="padding: 10px 15px 10px;"><span class="me-2">Show
            Lists</span> <i class="bi bi-list-ul"></i></button>
</div>