<form (ngSubmit)="onSubmit(profile)" #profile="ngForm">
    <div class="row mt-5">
        <div class="col">
            <div class="mb-3">
                <label for="about" class="form-label">About</label>
                <textarea class="form-control" name="about" id="about" rows="3" autocomplete="off" ngModel required #about></textarea>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="location" id="location" autocomplete="off" ngModel required #location>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="mb-3">
                <label for="Languages" class="form-label">Languages I speak</label>
                <input type="text" class="form-control" name="languages" id="Languages" autocomplete="off" ngModel required #languages>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="mb-3">
                <label for="work" class="form-label">Work</label>
                <input type="text" class="form-control" name="work" id="work" autocomplete="off" ngModel required #work>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <button type="button" class="btn btn-light" (click)="onBack()">Cancel</button>
        </div>
        <div class="col-6 text-end">
            <button type="submit" class="btn btn-dark px-3 py-2" [disabled]="!profile.valid">Save</button>
        </div>
    </div>
</form>