<div class="container-fluid" style="padding-left: 40px; padding-right: 40px">
    <div class="row">
        <div class="col">
            <div class="row ">
                <!-- col 1 -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top: 40px;">
                    <div class="row">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner rounded-3">
                                <div class="carousel-item active">
                                    <img style="height: 283px;"
                                        src="https://a0.muscache.com/im/pictures/63befe3b-264a-4082-ab8d-7b0681b91955.jpg?im_w=320"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 283px;"
                                        src="https://a0.muscache.com/im/pictures/73fa63aa-c492-4359-bd3e-06eb2abc05ec.jpg?im_w=1200"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 283px;"
                                        src="	https://a0.muscache.com/im/pictures/1a18a2d1-3ab1-4600-ab00-817bed059628.jpg?im_w=1200"
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-2" >
                        <div class="col-6" style="text-align: start;">
                            <strong>Protaras, Cyprus</strong>
                        </div>
                        <div class="col-6" style="text-align: end;">
                            <i class="bi bi-star-fill "></i>
                            <span>4.9</span>
                        </div>
                    </div>
                    <div class="row ">
                        <span>185 Kilometers away</span>
                    </div>
                    <div class="row">
                        <span>Nov 9-14</span>
                    </div>
                    <div class="row">
                        <strong>$192 night</strong>
                    </div>
                </div>
                <!-- col 2 -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top: 40px;">
                    <div class="row">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner rounded-3">
                                <div class="carousel-item active">
                                    <img style="height: 283px;"
                                        src="https://www.earthday.org/wp-content/uploads/2020/06/green-tree-photo-1080401-scaled.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 283px;"
                                        src="https://www.earthday.org/wp-content/uploads/2020/06/green-tree-photo-1080401-scaled.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 283px;"
                                        src="https://www.earthday.org/wp-content/uploads/2020/06/green-tree-photo-1080401-scaled.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="row mt-2 m-0 p-0">
                            <div class="col-6 " style="text-align: start;">
                                <strong>Protaras, Cyprus</strong>
                            </div>
                            <div class="col-6" style="text-align: end;">
                                <i class="bi bi-star-fill "></i>
                                <span>4.9</span>
                            </div>
                        </div>
                        <div class="row">
                            <span>185 Kilometers away</span>
                        </div>
                        <div class="row">
                            <span>Nov 9-14</span>
                        </div>
                        <div class="row">
                            <strong>$192 night</strong>
                        </div>
                    </div>
                </div>
                <!-- col 3 -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top: 40px;">
                    <div class="row">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner rounded-3">
                                <div class="carousel-item active">
                                    <img style="height: 283px;"
                                        src="https://www.earthday.org/wp-content/uploads/2020/06/green-tree-photo-1080401-scaled.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 283px;"
                                        src="https://www.earthday.org/wp-content/uploads/2020/06/green-tree-photo-1080401-scaled.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 283px;"
                                        src="https://www.earthday.org/wp-content/uploads/2020/06/green-tree-photo-1080401-scaled.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="row mt-2 m-0 p-0">
                            <div class="col-6 " style="text-align: start;">
                                <strong>Protaras, Cyprus</strong>
                            </div>
                            <div class="col-6 " style="text-align: end;">
                                <i class="bi bi-star-fill "></i>
                                <span>4.9</span>
                            </div>
                        </div>
                        <div class="row">
                            <span>185 Kilometers away</span>
                        </div>
                        <div class="row">
                            <span>Nov 9-14</span>
                        </div>
                        <div class="row">
                            <strong>$192 night</strong>
                        </div>
                    </div>
                </div>
                <!-- col 4 -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top: 40px;">
                    <div class="row">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner rounded-3">
                                <div class="carousel-item active">
                                    <img style="height: 283px;"
                                        src="https://www.earthday.org/wp-content/uploads/2020/06/green-tree-photo-1080401-scaled.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 283px;"
                                        src="https://www.earthday.org/wp-content/uploads/2020/06/green-tree-photo-1080401-scaled.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 283px;"
                                        src="https://www.earthday.org/wp-content/uploads/2020/06/green-tree-photo-1080401-scaled.jpg"
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="row mt-2 m-0 p-0">
                            <div class="col-6 " style="text-align: start;">
                                <strong>Protaras, Cyprus</strong>
                            </div>
                            <div class="col-6 " style="text-align: end;">
                                <i class="bi bi-star-fill "></i>
                                <span>4.9</span>
                            </div>
                        </div>
                        <div class="row">
                            <span>185 Kilometers away</span>
                        </div>
                        <div class="row">
                            <span>Nov 9-14</span>
                        </div>
                        <div class="row">
                            <strong>$192 night</strong>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-top: 40px;">
                    <div class="row">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner rounded-3">
                                <div class="carousel-item active">
                                    <img style="height: 283px;"
                                        src="https://a0.muscache.com/im/pictures/63befe3b-264a-4082-ab8d-7b0681b91955.jpg?im_w=320"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 283px;"
                                        src="https://a0.muscache.com/im/pictures/73fa63aa-c492-4359-bd3e-06eb2abc05ec.jpg?im_w=1200"
                                        class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img style="height: 283px;"
                                        src="	https://a0.muscache.com/im/pictures/1a18a2d1-3ab1-4600-ab00-817bed059628.jpg?im_w=1200"
                                        class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-2" >
                        <div class="col-6" style="text-align: start;">
                            <strong>Protaras, Cyprus</strong>
                        </div>
                        <div class="col-6" style="text-align: end;">
                            <i class="bi bi-star-fill "></i>
                            <span>4.9</span>
                        </div>
                    </div>
                    <div class="row ">
                        <span>185 Kilometers away</span>
                    </div>
                    <div class="row">
                        <span>Nov 9-14</span>
                    </div>
                    <div class="row">
                        <strong>$192 night</strong>
                    </div>
                </div>
        </div>
    </div>
</div>